
name: Python Package Workflow PYPI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.12"]  # Testing on multiple Python versions
    env:
      EVDS_API_KEY: ${{ secrets.EVDS_API_KEY }}
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest uv pydantic
        
        python -m pip install evdschat       
        uv venv
        source .venv/bin/activate
        uv pip install .

    - name: Lint with flake8
      run: |
#        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

#        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Test with pytest
      run: |
        pytest -v
